            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
              <%- include('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <%- include('../partials/additions') %>
</body>

</html>